<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org/">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/reset.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/anjos.css}"/>
    <title>Adota Pet</title>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img th:src="@{/img/Logo.png}" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/pet/pets">Adote aqui</a></li>
                    <li><a href="/usuario/meuperfil">Meu Perfil</a></li>
                    <li><a href="/logout">sair</a></li>
                </ul>
            </nav>
        </header>
        <section class="profile container-table">
            <div class="table-cell">
                <h2>Perfil</h2>
                <div class="circulo"></div>
                <div class="rede-social">
                    <img th:src="@{/img/instagram-pink.svg}" class="logo">
                    <img th:src="@{/img/facebook-pink.svg}" class="logo">
                </div>
                <div class="info-profile">
                    <h3>Nome Completo: <span th:text="${usuario.nome}"></span> </h3>
                    <h3>E-email: <span th:text="${usuario.email}" ></span> </h3>
                    <h3>Data de Nascimento: <span th:text="${#dates.format(usuario.dataNascimento, 'dd/MM/yyyy')}"></span> </h3>
                    <h3>Gênero: <span th:text="${usuario.genero}"></span></h3>
                    <h3>Telefone: <span th:text="${usuario.numTel}"></span> </h3>
                    <h3>CPF: <span th:text="${usuario.cpf}"></span> </h3>
                    <h3>Local: <span th:text="${usuario.uf.descricao}"></span> </h3>
                    <h3>Link do Instagram: <span th:text="${usuario.linkInstagram}"></span> </h3>
                    <h3>Link do Facebook: <span th:text="${usuario.linkFacebook}"></span> </h3>
                    <h3 th:if = "${usuario.tipo == 'ong'}">Link da Doação: <span th:text="${usuario.cpf}"></span> </h3>                    
                    <h3>Descrição: </h3>
                    <p th:text="${usuario.descricao}"></p>
                    <h3 th:if = "${usuario.tipo.compareTo('ong') == 0}" >Doação: <a th:href="${usuario.linkDoacao}">Link para doação</a> </h3>
                    <a th:if = "${usuario.id == usuarioLogado.id}" th:href = @{/usuario/editar/{id}(id=${usuario.id})} class="button">Editar</a>
                    <a th:if = "${usuario.id == usuarioLogado.id}" th:href = @{/usuario/excluir/{id}(id=${usuario.id})} class="button">Excluir</a>
                    <a th:if = "${usuario.id == usuarioLogado.id}" th:href = @{/usuario/adm-pet/} class="button">Administrar Pets</a>
                    
                </div>
                
                <div class="animais-doacao" th:each = "pet : ${usuario.pets}">
                    <div class="animal-doacao">
                        <img th:src="@{/img/image5.png}" class="logo"><br>
                        <a th:text = "${pet.nome}" th:href = @{/pet/perfil/{id}(id=${pet.id})}></a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <div class="push"></div>
    </div>

    <footer class="footer container-table">
        <div class="table-cell">
            <img th:src="@{/img/instagram.svg}" class="logo">
            <img th:src="@{/img/facebook.svg}" class="logo">
            <span>Desenvolvido por: </span>
        </div>
    </footer>
</body>

</html>