/*MENU
0 - GERAL
1 - Nav bar
2 - Section 1
3 - Section 2
*/

/*0 - Geral*/

:root {
    --rosa-primario: #F9AFBD;
    --rosa-secundario: rgba(255,182,192,0.8);
    --rosa-escuro: #DB8187;

    --branco-primario: #fafafa;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
    --cinza-escuro: #575757;

    --azul: #74A4DD;
}

@font-face {
    font-family: "Titan";
    src: url("../fonts/TitanOne-Regular.ttf");
    
}

@font-face {
    font-family: "Confortaa";
    src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
    font-family: "ChelseaMarket";
    src: url("../fonts/ChelseaMarket-Regular.ttf");
}

@font-face {
    font-family: "Carter";
    src: url("../fonts/CarterOne.ttf");
}
/*1 - Nav*/

html, body {
    height: 100%;
    margin: 0;
  }

header {
    background-color: var(--rosa-escuro);
    height: 75px;
}

.wrapper {
    min-height: 100%;
  
    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -90px;
}

.footer,
.push {
  height: 90px;
  width: 100%;
}

body{
    background-color: #f1f1f1;
}

footer{
  background: var(--rosa-escuro);
  clear: both;
}

header .logo{
    margin-left: 5vw;
    margin-top: 10px;
    width: 150px;
    float: left;
    display: block;
    cursor: pointer;
}


header nav ul{
    float: right;
    margin-right: 0px;
}

header nav ul li {
    display: inline-block;
    margin: 13px 5px 0px 5px;
    font-size: 1em;
    
}

header nav a {
    color: var(--branco-secundario);
    font-family: "ChelseaMarket";
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

header nav a:hover {
    background-color: var(--branco-secundario);
    transition: 0.3s;
    color: var(--rosa-escuro);
    
}

header nav ul li:nth-child(1)::after,
header nav ul li:nth-child(2)::after{
    display: inline-block;
    content: "";
    height: 30px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: 7px;

}
/*2 - Section 1*/

.home {
    background-image: url(../img/animal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: var(--branco-secundario);
    font-family: "Titan";
    text-align: center;
    background-position: center;
}

.container-table{
    display: table;
}

.home h1 {
    font-size: 4.5em;
    letter-spacing: 4px;
    font-family: "ChelseaMarket"

}

.home h2{
    font-family: "Titan";
    font-size: 1.5em;
    margin-top: 25px;
}

.home .icons{
    margin: 50px 0px; 
}

.home .icons_content {
    width: 75px;
    height: 75px;
    }

.home .box {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    height: calc(100vh - 75px);
    width: 100vw;
}
.after-header{
    display: contents;
}

#central {
    margin: 0 20%;
}
.home .more {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.home .more p {
    font-size: 18px;
    font-family: "Carter";
    color: var(--branco-primario);
    margin-bottom: 5%
        
}

.home .arrow {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-primario);
    border-bottom: solid 8px var(--branco-primario);
    transform: translate(-50%, -50%);
    transform: rotate(-45deg);
    border-radius: 10%;
}



.icon-scroll,
.icon-scroll:before{
  position: absolute;
  left: 50%
}
.icon-scroll{
  width: 30px;
  height: 53px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}

.icon-scroll:before{
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.7s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

.icon-scroll-gone{
    display: none;
}
@keyframes scroll{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: translateY(46px);
  }
}

@media only screen and (max-width: 700px) {
    header .logo{
        float: none;
        /* text-align: center; */
        margin: 0 auto;
    }
    header{
        height: 125px;
    }
    header nav{
        text-align: center;
    }
    header nav ul{
        float: none;
    }
    .home .box{
        height: calc(100vh - 125px);
    }

    .info .table-cell{
        display: unset;
    }

    .info .info-dir h3{
        margin-top: 20px;
        width: 95%;
        padding-left: 10px;
    }

    .info .info-dir p{
        width: 95%;
        padding-left: 10px;
    }

    .login, .cadastro, .profile, .adm-pet, .feed{
        height: calc(100vh - 125px - 90px) !important;
    }

}

@media only screen and (max-width: 400px) {
    header nav ul li{
        font-size: 0.75em;
    }

    .home h1{
        font-size: 3em;
    }

    .home h2{
        font-size: 1em;
    }
}


/* outra section*/

.info{
    background: #f1f1f1;
}

.info h2{
    font-family: "Titan";
    text-align: center;
    color: var(--rosa-primario);
    font-size: 26px;
    margin-bottom: 2em;
    padding-top: 40px;
}

.info .quem-somos-p{
    text-align: center;
    max-width: 80vw;
    margin: 15px auto;
    font-family: "Confortaa";
}

.animal-imgs{
    text-align: center;
    width: 100%;
}

.animal-imgs img{
    margin: 40px 20px 50px 20px;
    height: 250px;
}

.info-esq-dir{
    display: inline-table;
    margin-bottom: 10px;
}
.info-esq{
    width: 50%;
}

.info-dir{
    width: 50%;
}

.info-dir p{
    width: 80%;
    text-align: unset;  
    font-family: "Confortaa";
    margin-bottom: 10px;
}

.info-dir h3{
    font-family: "Carter";
    text-align: left;
    font-size: 23px;
    margin-bottom: 20px;
    line-height: 25px;
    width: 80%;
}

.info-esq p{
    border: 3px solid var(--rosa-primario);
    width: 30%;
    margin: 0 auto;
    font-family: "confortaa";
    color: var(--rosa-escuro);
    padding: 40px;
}

.menina-foto{
    margin: 0px auto;
    display: block;
    margin-top: 20px;
    padding-bottom: 50px;
    width: 70vw;
}

.info{
    height: 1700px;
}

.table-cell{
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    width: 100vw;
}


@media only screen and (max-width: 500px) {
    .animal-imgs img {
        height: 150px;
    }
}
/**/

.nossa-equipe{
    background-image: url(../img/blackCat.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    background-position: center;
    padding-bottom: 40px;
}

.nossa-equipe h2{
    font-family: "Titan";
    font-size: 2em;
    color: var(--branco-primario);
    padding-top: 40px;

}

.nossa-equipe .descricao{
    font-family: "Confortaa";
    font-size: 1em;
    margin: 20px 10%;
}

.nossa-equipe .equipe{
    display: flex;
    /* flex-wrap: inherit; */
    justify-content: center;
    flex-wrap: wrap;
}
.nossa-equipe .equipe .citacao{
    
    color: #333;
    padding: 20px 20px 0px 20px;
    font-family: "Confortaa";
    font-size: 13px;
    
}

.nossa-equipe .membro .membro-nome{
    color: var(--rosa-escuro);
    padding: 0px 10px 10px 10px;
    font-family: "Confortaa";
    font-size: 15px;
}
.nossa-equipe .membro{
    background: #f3f3f3;
    margin: 10px;
    position: relative;
    width: 145px;
    height: 210px;
    margin-top: 50px;
    border-radius: 10px;
}

.circulo{
    background: var(--rosa-primario);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: -32px;

}

.membro img{
    width: 50px;
    margin: 10px auto;
}

/**/

.sucesso{
    height: 500px;
    padding-bottom: 20px;
}

.sucesso h2{
    font-family: "Titan";
    text-align: center;
    color: var(--rosa-primario);
    font-size: 26px;
    margin-bottom: 2em;
    padding-top: 40px;
}



.sucesso img{
    width: 220px;
    position: relative;
    z-index: 2;
}

.sucesso .animal h3{
    text-align: center;
    font-family: "Titan";
    font-size: 26px;
    margin-bottom: 20px;
}

.sucesso .animal{
    margin: 20px;
    position: relative;
}

.sucesso .animais{
    display: flex;
    /* flex-wrap: inherit; */
    justify-content: center;
    flex-wrap: wrap;
}

.sucesso .quadrado{
    width: 220px;
    color: pink;
    height: 123px;
    border: 3px solid pink;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 10px;
    right: 0;
    top: 30px;
}

.footer .logo{
    width: 50px;
    float: left;
    padding: 0px 0px 0px 5vw;
}

.footer span{
    float: right;
    font-family: "Carter";
    font-size: 16px;
    margin-top: 15px;
    margin-right: 10vw;
    color: var(--branco-primario);
}

/* Login */

.login, .cadastro, .profile, .adm-pet, .feed{
    height: calc(100vh - 75px - 90px);
}

.login h2, .cadastro h2, .profile h2, .feed h2, .adm-pet h2{
    font-family: "Titan";
    color: var(--rosa-primario);
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 20px;
    padding-top: 20px;
}

.login h3, .cadastro h3{
    font-family: "Carter";
    text-transform: uppercase;
    font-size: 0.8em;
    color: var(--rosa-primario);
}

.login form{
    margin: 0 auto;
    display: table;
}

.confirma{
    margin: 15px auto;
    display: block;
    text-align: center;
    padding: 6px 15px;
    border-radius: 15px;
    background: var(--rosa-primario);
    color: var(--branco-primario);
    border: none;
    font-family: "Titan";
    letter-spacing: 2px;
    cursor: pointer;
}

input[type="text"], textarea, input[type="password"], input[type="email"], input[type="url"],  input[type="number"], input[type="date"], .input-wrapper label{
    background-color: var(--rosa-escuro);
    border-radius: 5px;
    border: 1px solid var(--cinza-escuro);
    padding: 3px;
    color: var(--branco-primario);
    padding-left: 5px;
    margin-bottom: 10px;
}

input[type="date"]{
    width: 176px;
    height: 16px;
}
::placeholder {
    color: var(--branco-primario);
    opacity: 0.6; /* Firefox */
    
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: var(--branco-primario);
   opacity: 0.6;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: var(--branco-primario);
   opacity: 0.6;
  }

form a{
    text-decoration: none;
    display: block;
    text-align: center;
    color: var(--azul);
}

.cadastro form{
    margin: 0 auto;
    display: table;
}

.cadastro form .esq, .cadastro form .dir{
    display: inline-table;
}
.cadastro h3{
    margin-top: 0px;
}

.cadastro form .esq{
    margin-right: 10px;
}

.cadastro form .dir{
    margin-left: 10px;
}

.cadastro form .foto{
    text-align: center;
    display: block;
    margin: 0 auto;
}

input[type='file'] {
    display: none
}

.input-wrapper label:hover {
    background-color: var(--azul);
    cursor: pointer;
}

.input-wrapper{
    display: table;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#file-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 138px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}

@media only screen and (max-width: 420px) {
    .cadastro form .esq{
        margin-right: 0px;
    }
    
    .cadastro form .dir{
        margin-left: 0px;
    }
    .cadastro form .esq, .cadastro form .dir{
        display: unset;
    }
}

.profile .circulo{
    position: unset;
    width: 120px;
    height: 120px;
}

.profile .rede-social{
    margin: 0 auto;
    display: table;
}

.profile .rede-social img{
    width: 40px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.profile .info-profile{
    display: table;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 70vw;
}

.profile .info-profile h3{
    font-family: "Carter";
    color: var(--rosa-escuro);
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}

.profile .info-profile h3 span{
    color: var(--rosa-primario);

}

.profile .info-profile p{
    font-family: "Confortaa";
    margin-bottom: 10px;
    font-size: 14px
}

.profile .info-profile h3 a{
    text-decoration: none;
    cursor: pointer;
    color: var(--azul);
}

.animais-doacao{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 20px;
}

.animais-doacao img{
    width: 180px;
    
}

.animal-doacao{
    margin: 10px;
}

.animal-doacao a{
    text-decoration: none;
    font-family: "Titan";
    color: var(--azul);
    text-transform: uppercase;
    text-align: center;
    display: block;
    cursor: pointer;
}

.button {
    text-decoration: none;
    background-color: var(--rosa-primario);
    border-radius: 15px;
    padding: 5px;
    color: var(--branco-primario);
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 70px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: "Titan";
}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; /* remove the search and cancel icon */
}

/* search input field */
input[type=search] {
	background: var(--rosa-primario) url("data:image/svg+xml; charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'><path d='M10.182 12.364l2.182-2.182 3.637 3.637L13.818 16zM12 6A6 6 0 1 0 0 6a6 6 0 0 0 12 0zm-6 4c-2.206 0-4-1.794-4-4s1.794-4 4-4 4 1.794 4 4-1.794 4-4 4z'></path></svg>") no-repeat 6px 6px;
	border: solid 1px var(--rosa-primario);
	padding: 9px 10px 9px 32px;
    width: 75px;
    color: var(--branco-primario);
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 170px;
	background-color: var(--rosa-primario);
	
	-webkit-box-shadow: 0 0 5px rgba(249,175,189,.5);
	-moz-box-shadow: 0 0 5px rgba(249,175,189,.5);
	box-shadow: 0 0 5px rgba(249,175,189,.5);
}

/* placeholder */
input:-moz-placeholder {
	color: var(--branco-primario);
}
input::-webkit-input-placeholder {
	color: var(--branco-primario);
}


.search-form{
    display: table;
    margin: 0 auto;
}

.animal-descricao .circulo{
    position: unset;
    margin-left: 0px;
    width: 100px;
    height: 100px;
}

.animal-descricao{
    display: inline-flex;
    padding: 25px 0px;
}

.animal-nome a{
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: "Titan";
    color: var(--azul);
    margin-top: 10px;
    cursor: pointer;
    text-transform: uppercase;
}

.animal-nome{
    margin-right: 10px;
}

.animais-adocao{
    display: block;
    margin: 0 auto;
    width: 80vw;
}

.animal-descricao .texto p{
    vertical-align: middle;
    display: table-cell;
    height: 100px;
}

.texto{
    display: table;
}


.table table{

    width: 96%;
    margin: 0 auto;
        margin-top: 15px;

        overflow: hidden;
        border-collapse: separate; 
        border-top: solid var(--rosa-escuro) 3px;
        border-right: solid var(--rosa-escuro) 3px;
        border-left: solid var(--rosa-escuro) 3px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
}

.table thead{
    background: var(--rosa-primario);
    font-family: 'Bitter', serif;
    font-weight: bold;
    border-radius: 20px;
}

.table th{
    color: #fcf2f2;
    font-size: 24px;
    padding: 10px 0px;
    background-color: var(--rosa-escuro);
    border-bottom: 3px solid var(--rosa-escuro);
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}



.table tr{
    border-top: 3px solid var(--rosa-escuro);
        background: var(--branco-primario);


}

.table  tr:first-of-type{
    border-top: 0px;
}
.table td{
    color: #252525;
        font-size: 18px;
        font-family: "ChelseaMarket";
        padding-top: 15px;
        padding-right: 30px;
        padding-bottom: 15px;
        padding-left: 30px;
        border-bottom: 3px solid var(--rosa-escuro);
        text-align: center;
        max-width: 250px;
        word-break: break-word;
        vertical-align: middle;

}
.table .td-ações{
    vertical-align: middle;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        word-break: break-word;

}

.table .td-excluir a{
    font-family: 'Bitter', serif;
        color: #EB5757;
        text-decoration: none;

}

.table .td-editar a{
    font-family: 'Bitter', serif;
        color: #D49600;
        text-decoration: none;

}

select{
    width: 187px;
    background-color: var(--rosa-escuro);
    border-radius: 5px;
    border: 1px solid var(--cinza-escuro);
    padding: 3px;
    color: var(--branco-primario);
    padding-left: 5px;
    margin-bottom: 10px;
}


#descricao, #link-doacao{
    text-align: center;
}

#guerreiro{
    background-image: url(../img/n5.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#araujo{
    background-image: url(../img/n4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#joao{
    background-image: url(../img/n1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#jhonathan{
    background-image: url(../img/n3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#augusto{
    background-image: url(../img/n2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}