<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/stylesheets/reset.css}"/>
    <link rel="stylesheet" th:href="@{/stylesheets/anjos.css}"/>
    <title>Adota Pet</title>
    <script type="text/javascript" th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/scroll.js}"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            <a href="/"><img th:src="@{/img/Logo.png}" class="logo"></a>
            <nav>
                <ul>
                    <li><a href="/pet/pets">Adote aqui</a></li>
                    <li><a href="/usuario/meuperfil">Meu Perfil</a></li>
                    <li><a href="/logout">sair</a></li>
                </ul>
            </nav>
        </header>
        <section class="cadastro container-table">
            <div class="table-cell">
                <h2>Edição</h2>
                <form action="/pet/editar" method="POST" th:object="${pet}">
                    <input type="hidden"  th:field="*{id}">
                    <div class="esq">
                        <h3>Nome</h3>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nome')}">
                            <label th:errors="*{nome}" class="validation-message"></label>
                        </div>
                        <input type="text" name="Nome" placeholder="Seu nome" th:field="*{nome}">
                        <h3>Raça</h3>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('raca')}">
                            <label th:errors="*{raca}" class="validation-message"></label>
                        </div>
                        <input type="text" name="Raca" placeholder="Raça" th:field="*{raca}">
                        <h3>Sexo</h3>
                        <input type="radio" th:field="*{genero}" value="macho"> Macho
                        <input type="radio" th:field="*{genero}" value="femea"> Femea
                    </div>
                    <div class="dir">
                        <h3>Estado</h3>
                        <select th:field = "*{uf}">
                            <option th:each = "u : ${ufs}" th:value = "${u.sigla}" th:text = "${u.descricao}"></option>
                        </select>
                        <h3>Idade</h3>
                        <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('idade')}">
                            <label th:errors="*{idade}" class="validation-message"></label>
                        </div>
                        <input type="number" name="Idade" placeholder="" th:field="*{idade}">
                        <h3>Vacinas</h3>
                        <input type="text" th:field="*{vacinas}">
                        <h3>Descrição</h3>
                        <input type="text" th:field="*{descricao}">
                    </div>

                    <input type="submit" value="salvar" class="confirma">
                </form>

            </div>
        </section>
        <div class="push"></div>
    </div>
    <footer class="footer container-table">
        <div class="table-cell">
            <img th:src="@{/img/instagram.svg}" class="logo">
            <img th:src="@{/img/facebook.svg}" class="logo">
            <span>Desenvolvido por: JGAGJ, OS FERAS DO TI</span>
        </div>
    </footer>
</body>

</html>